@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(255, 255, 255);
  }

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #000000;
    /* margin: 15px 0 20px 0; */
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

.logo{
    height: 85px;
    width: 85px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #84a98c;
    transition: 0.3s ease;
}


nav li a{
    text-decoration: none;
    color: #84a98c;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    padding: 10px;
    position: relative;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



li:hover .dropdown-menu {
    display: block;
    width: auto;
}

#header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #84a98c;
    position: absolute;
    left:0; 
    bottom: -3px;
    transition: 0.5s;
}
#header ul li:hover::after{
    width: 30%;
}

.banner {
    width: 1;
    height: auto;
}

#mobile{
    display: none;
    align-items: center;
}

/* Responsive Menu */
@media (max-width:899px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        width: auto;
        height: 300vh;
        background-color: #ccc;
        box-shadow:0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 20px 0px 20px 5px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #hero iframe {     
          width: auto;
          height: auto;
    }
}

/*Home Page */
#hero {
    background-image: url(/img/banner.jpg);
    height: 60vh;
    width: 100%;
    background-position: top 70% right 0;
    background-size: cover;
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

}

#hero h4 {
    padding-bottom: 15px;
}
 #hero button{
    /* border-radius: 30%; */
    display: inline-block;
    cursor: pointer;
    padding: 16px 40px;
    transition: 0.3s ease background-color;
    color: var(--color-button-text);
    background-color: var(--color-secondary);
    border: solid 1px var(--color-secondary);
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50px   ;
    background-color: #84a98c;
    
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 20px;
    margin: 15px 0;
}

#feauture img{
   object-fit: cover;
   width: 100%;
   margin-bottom: 10px; 

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 12px 8px;
    line-height: 1px;
    border-radius: 4px;
    background-color: #F8EDE3;
    color: #84a98c;
    font-size: 16px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #fff2b0;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #f9f2b0;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #9af5e7;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #80e271;
}

/*Best Seller */
#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content:space-between;
    padding-top: 25px;
    flex-wrap: wrap;

}
#product1 .pro{
    width: 10%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #686767;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.);

}

#product1 .pro .description{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .description span{
    color: #000000;
    font-size: 12px;
}
#product1 .pro .description h5{
    padding-top: 7px;
    color: #000000;
    font-size: 16px;
}

#product1 .pro .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);

}

#product1 .pro .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #84a98c;
}


#product1 .fa-solid.fa-cart-shopping {
    color: #84a98c;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
#banner{
    position: relative;
    background-image: url("/img/banner2.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #ee4cc2;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #60c6c3;
}

#banner button:hover{
    background-color:#84a98c;
    color: white;
}

#second-banner .banner3{
    display: flex;
    position: relative;
    background-image: url("/img/banner3.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#second-banner button:hover{
    background-color:#84a98c;
    color: white;
}

/*Footer*/

.logo2{
    width: 100px;
    height: 100px;
}

#footer{
    background-color: rgba(122, 122, 122,0.2);
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#000000f2;
   font-family: 'Roboto Slab', serif;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:rgb(0, 0, 0);
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #84a98c;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:rgb(0, 0, 0);
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#000000;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: rgb(0, 0, 0);
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#84a98c;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding:50px 0;
   width: 100%;

}
.row .form input{
   background-color: rgb(249, 249, 249);
   border:0;        
   border-color: #000000;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #84a98c;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000000;
    margin: 20px 0;

}
/********** Responsive Design ********/
@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }
}
/*Shop Page */


/*Detail Page*/
#product-detail{
    display: flex;
    margin-top: 20px;
}
#product-detail .pro-img{
    width: 25%;
    margin-right: 50px;  
}

.small-img-gr{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#product-detail .pro-detail{
    width: 50%;
    padding-top: 30px;
}

#product-detail .pro-detail h4{
    padding: 40px 0 20px 0;
}

#product-detail .pro-detail h2{
    font-size: 26px;
}

#product-detail .pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 16px;
    margin-right: 10px;
}
#product-detail .pro-detail button{
    background-color: #84a98c;
    color: white;
}

#product-detail .pro-detail span{
    line-height: 25px;
}

#product-detail .pro-detail ol{
    list-style-type: circle;
}

/*Contact Page*/
#contactUs {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    ;
}

#contactUs .map{
    width: 100%;
    height: auto;
    flex: 50%;
}

#contactUs .form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
#contactUs .form h2{
    margin-bottom: 10px;
}

#contactUs .contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;    
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

#contactUs .contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;    
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}


#contactUs .contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #84a98c;
    color: white;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    font: 18px;
}

#contactUs .contact-form-btn:hover{
    background-color: white;
    color: #84a98c ;
}

#contactUs .map iframe{
    width: 100%;
    height: 100%;
}